<!DOCTYPE html>
<html>
<head>
    <title>Election Result Management System</title>
</head>
<body>

<h1>Election Result Management System</h1>

<form action="/result">

    Constituency:
    <input type="text" name="constituency"><br><br>

    Candidate 1 Name:
    <input type="text" name="c1"><br><br>

    Candidate 1 Votes:
    <input type="number" name="v1"><br><br>

    Candidate 2 Name:
    <input type="text" name="c2"><br><br>

    Candidate 2 Votes:
    <input type="number" name="v2"><br><br>

    Candidate 3 Name:
    <input type="text" name="c3"><br><br>

    Candidate 3 Votes:
    <input type="number" name="v3"><br><br>

    <input type="submit" value="Generate Result">

</form>

</body>
</html>
